<% include inc/view_header %> <% include inc/view_top_menu %> <% include
inc/view_sidebar %>

<div id="page-wrapper">
  <div class="container-fluid">
    <table class="table">
      <thead>
        <tr>
          <th><i class="fas fa-user"></i></th>
          <th>Name</th>
          <th>age</th>
          <th>Number</th>
          <th>email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td scope="row">Ahmed</td>
          <td>35</td>
          <td>+249095836332</td>
          <td>shamsmohamed@gmail.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
